html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
	margin: 15px 0 100px 10px;
	text-align: center;
	border-bottom: 1px solid #F39FAA;
	padding-bottom: 50px;
}

body {
	padding: 0 15px 0 25px;
	background: rgba(138, 192, 209, .3);
	color: #000;
	font-family: Alegreya Sans;
	font-size: 85%;
	border: 1px solid #F39FAA;
}

section {
	padding: 15px 0 15px 0;
}

footer {
	margin-top: 150px;
	padding-bottom: 15px;
	font-size: 75%;
	text-align: center;
}

b {
	padding-bottom: 1px;
	border-bottom: 1px solid #F39FAA;
}

h1, h2, h3 {
	font-family: Alegreya Sans SC;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 125%;
	margin-top: -29px;
}

h4 {
	margin: 25px 0 10px 15px;
	font-family: Alegreya;
}

.ehh {
	width: 100%;
	padding: 15%;
}

.bad {
	width: 100%;
	margin-left: 50px;
}

.awful {
	width: 65%;
	padding: 15%;
	position: relative;
}

.awful img {
	position: absolute;
	left: 450px;
	top: 10px;
	padding-right: 5%;
}